<div class="bg-gray-100">
    <div class="grid grid-cols-12 gap-4">
        <!-- Column -->
        <div class="col-span-12 md:col-span-12 xl:col-span-12">
            <div class="relative mb-12 bg-gray-800" data-te-input-wrapper-init>
                <textarea hx-get="/logs" hx-trigger="load, every 1s" style="color: aliceblue"
                    class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                    id="logTextarea1" rows="12"></textarea>
            </div>
        </div>

        <!-- Column -->
        <div class="col-span-12 md:col-span-6 xl:col-span-4">
            <h1 class="text-2xl font-bold mb-4">Block/Unblock IP</h1>
            <form class="flex flex-col space-y-2" hx-post="/block-ip" hx-target="#ip-blocked">
                <label for="ip" class="font-bold">IP Address:</label>
                <input type="text" id="ip" name="ip" class="border border-gray-400 rounded-lg py-2 px-3" />
                <div class="flex space-x-2">
                    <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-lg"
                        hx-confirm="Are you sure you wish to block this IP?">
                        Block
                    </button>
                    <button type="submit" hx-post="/unblock-ip" hx-target="#ip-blocked"
                        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-lg">
                        Unblock
                    </button>
                </div>
            </form>
            <div class="mb-4 rounded-lg px-6 py-5 text-base text-primary-600" role="alert"  id="ip-blocked"></div>
        </div>

        <!-- Column -->
        <div class="col-span-12 md:col-span-6 xl:col-span-4">
            <h1 class="text-2xl font-bold mb-4">Block/Unblock Port</h1>
            <form class="flex flex-col space-y-2" hx-post="/block-port" hx-target="#port-blocked">
                <label for="port" class="font-bold">Port Number:</label>
                <input type="text" id="port" name="port" class="border border-gray-400 rounded-lg py-2 px-3" />
                <div class="flex space-x-2">
                    <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-lg">
                        Block
                    </button>
                    <button type="submit" hx-post="/unblock-port" hx-target="#port-blocked"
                        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-lg">
                        Unblock
                    </button>
                </div>
            </form>
            <div class="mb-4 rounded-lg px-6 py-5 text-base text-primary-600" role="alert"  id="port-blocked"></div>
        </div>
        <!-- Column -->
        <div class="col-span-12 md:col-span-6 xl:col-span-4">
            <h1 class="text-2xl font-bold mb-4">Block/Unblock Protocol</h1>
            <form class="flex flex-col space-y-2" hx-post="/block-protocol" hx-target="#protocol-blocked">
                <label for="protocol" class="font-bold">Protocol:</label>
                <input type="text" id="protocol" name="protocol" class="border border-gray-400 rounded-lg py-2 px-3">
                <div class="flex space-x-2">
                    <button type="submit"
                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-lg">Block</button>
                    <button type="submit" hx-post="/unblock-protocol" hx-target="#protocol-blocked"
                        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-lg">Unblock</button>
                </div>
            </form>
            <div class="mb-4 rounded-lg px-6 py-5 text-base text-primary-600" role="alert"  id="protocol-blocked"></div>
        </div>

        <!-- Column -->
        <div class="col-span-12 md:col-span-6 xl:col-span-4">
            <h1 class="text-2xl font-bold mb-4">Block/Unblock Country</h1>
            <form class="flex flex-col space-y-2" hx-post="/geo-block" hx-target="#geo-blocked">
                <label for="protocol" class="font-bold">Country:</label>
                <div class="relative" data-te-input-wrapper-init id="basic">
                    <input
                      type="text"
                      class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear placeholder:opacity-0 focus:placeholder:opacity-100 peer-focus:text-primary motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary"
                      id="countryName"
                      name="countryName" />
                    <label
                      for="countryName"
                      class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[80%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-focused]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-focused]:scale-[0.8] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"
                      >Country list
                    </label>
                  </div>
                <div class="flex space-x-2">
                    <button type="submit"
                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-lg">Block</button>
                    <button type="submit" hx-post="/geo-unblock" hx-target="#geo-blocked"
                        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-lg">Unblock</button>
                </div>
            </form>
            <div class="mb-4 rounded-lg px-6 py-5 text-base text-primary-600" role="alert"  id="geo-blocked"></div>
        </div>
        <!-- Column -->
        <div class="col-span-12 md:col-span-6 xl:col-span-4">
            <h1 class="text-2xl font-bold mb-4">Rate Limiting an IP</h1>
            <form class="flex flex-col space-y-2" hx-post="/rate-limit-ip" hx-target="#rate-limited">
                <label for="rate-limit" class="font-bold">Rate Limit:</label>
                <input type="number" id="rate-limit" name="rate-limit"
                    class="border border-gray-400 rounded-lg py-2 px-3">
                <label for="ip" class="font-bold">IP Address:</label>
                <input type="text" id="ip" name="ip" class="border border-gray-400 rounded-lg py-2 px-3">
                <button type="submit"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg">Save</button>
            </form>
            <div class="mb-4 rounded-lg px-6 py-5 text-base text-primary-600" role="alert" id="rate-limited"></div>
        </div>
        <!-- Column -->
        <div class="col-span-12 md:col-span-12 xl:col-span-12">
            <div class="mx-auto w-11/12 overflow-hidden md:w-3/5" onload="chartLoad()">
                <canvas id="bar-chart"></canvas>
              </div>

        </div>
        <!-- Column -->
        <div class="col-span-12 md:col-span-12 xl:col-span-12">
            <canvas id="myChart"></canvas>
        </div>
        <!-- Column -->
        <div class="col-span-12 md:col-span-6 xl:col-span-4">


        </div>

        <!-- Column -->
        <div class="col-span-12 md:col-span-6 xl:col-span-4">

        </div>
    </div>
</div>